<div fxLayout="row" fxLayoutWrap="wrap">
  <!-- column -->
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div fxLayout="row" fxLayoutWrap="wrap">
                  <!-- column -->
                  <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                      Welcome <span style="color: #0288D1 ;">{{username}}</span> to Our System!
                      <br/><br/>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- column -->
</div>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content >
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
    <!-- <app-pie-chart></app-pie-chart> -->
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content >
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
    <!-- <app-pie-chart></app-pie-chart> -->
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content >
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
    <!-- <app-pie-chart></app-pie-chart> -->
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content >
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
    <!-- <app-pie-chart></app-pie-chart> -->
  </mat-card-content>
</mat-card>
<!-- <div class="ui-g">
  <div class="ui-g-12">
    <mat-card class="ui-g-12 ui-md-6 ui-lg-3" style="margin-left: 30px;">
      <mat-card-content >
        <mat-card-title>Thống kê người dùng</mat-card-title>
        <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="ui-g-12 ui-md-6 ui-lg-3" style="margin-left: 30px;">
      <mat-card-content >
        <mat-card-title>Thống kê người dùng</mat-card-title>
        <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="ui-g-12 ui-md-6 ui-lg-3" style="margin-left: 30px;">
      <mat-card-content >
        <mat-card-title>Thống kê người dùng</mat-card-title>
        <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
    <mat-card class="ui-g-12 ui-md-6 ui-lg-3" style="margin-left: 30px;">
      <mat-card-content >
        <mat-card-title>Thống kê người dùng</mat-card-title>
        <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
        <app-pie-chart></app-pie-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
<!-- <div fxLayout="row">
  <div fxFlex.gt-sm="50%" >
    <div class="row">
      <mat-card class="col-md-5" style="margin-left: 30px;">
        <mat-card-content >
          <mat-card-title>Thống kê người dùng</mat-card-title>
          <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
          <app-pie-chart></app-pie-chart>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-5">
        <mat-card-content >
          <mat-card-title>Thống kê người dùng</mat-card-title>
          <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
          <app-pie-chart></app-pie-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex.gt-sm="50%" >
      <mat-card>
          <mat-card-content>
            <mat-card-title>Thống kê giao dịch</mat-card-title>
            <mat-card-subtitle>Số lượng: 1.000.000.000 giao dịch</mat-card-subtitle>
            <p-chart type="pie" [data]="dataAverageScore"></p-chart>
          </mat-card-content>
      </mat-card>
  </div>
</div> -->
