<div class="main-content">
  <div class="container-fluid">
      <div class="row" style="padding: 15px 0;">
        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px;">
          <div class="card" style="border-radius: 4px !important;">
              <div class="card-header card-header-danger">
                <span class="overview-icon" style="background: #64B5F6;">
                  <i class="pi pi-shopping-cart"></i>
                </span>
                <span class="overview-title" style="color: #64B5F6;">Orders</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="border-right: 1px solid #dee2e6;">
                    <div class="overview-number">640</div>
                    <div class="overview-subtext">Pending</div>
                  </div>
                  <div class="col-md-6">
                    <div class="overview-number">1420</div>
                    <div class="overview-subtext">Completed</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px;">
            <div class="card" style="border-radius: 4px !important;">
                <div class="card-header card-header-danger">
                  <span class="overview-icon" style="background: #7986CB;">
                    <i class="pi pi-dollar"></i>
                  </span>
                  <span class="overview-title" style="color: #7986CB;">Trans</span>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid #dee2e6;">
                      <div class="overview-number">640</div>
                      <div class="overview-subtext">Pending</div>
                    </div>
                    <div class="col-md-6">
                      <div class="overview-number">1420</div>
                      <div class="overview-subtext">Completed</div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px;">
          <div class="card" style="border-radius: 4px !important;">
              <div class="card-header card-header-danger">
                <span class="overview-icon" style="background: #4DB6AC;">
                  <i class="pi pi-users"></i>
                </span>
                <span class="overview-title" style="color: #4DB6AC;">User</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="border-right: 1px solid #dee2e6;">
                    <div class="overview-number">640</div>
                    <div class="overview-subtext">Pending</div>
                  </div>
                  <div class="col-md-6">
                    <div class="overview-number">1420</div>
                    <div class="overview-subtext">Completed</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-3" style="padding-left: 5px; padding-right: 5px;">
          <div class="card" style="border-radius: 4px !important;">
              <div class="card-header card-header-danger">
                <span class="overview-icon" style="background: #4DD0E1;">
                  <i class="pi pi-comment"></i>
                </span>
                <span class="overview-title" style="color: #4DD0E1;">Comment</span>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6" style="border-right: 1px solid #dee2e6;">
                    <div class="overview-number">640</div>
                    <div class="overview-subtext">Pending</div>
                  </div>
                  <div class="col-md-6">
                    <div class="overview-number">1420</div>
                    <div class="overview-subtext">Completed</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding: 15px 0;">
        <div class="col-md-6" style="padding-left: 5px; padding-right: 5px;">
          <div class="card" style="border-radius: 4px !important;">
              <div class="card-header card-header-danger">
                <span class="overview-title" style="color: #495057;">Transation</span>
              </div>
              <div class="card-body">
                <!-- <app-pie-chart></app-pie-chart> -->
              </div>
          </div>
        </div>
        <div class="col-md-6" style="padding-left: 5px; padding-right: 5px;">
          <div class="card" style="border-radius: 4px !important;">
              <div class="card-header card-header-danger">
                <span class="overview-title" style="color: #495057;">User</span>
              </div>
              <div class="card-body">
                <!-- <app-pie-chart></app-pie-chart> -->
              </div>
          </div>
        </div>
      </div>
  </div>
</div>
