<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
            Welcome <span style="color: #0288d1">{{ username }}</span> to Our
            System! <br /><br />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content>
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content>
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content>
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
  </mat-card-content>
</mat-card>
<mat-card class="ui-g-12 ui-md-6 ui-lg-3">
  <mat-card-content>
    <mat-card-title>Thống kê người dùng</mat-card-title>
    <mat-card-subtitle>Số lượng: 10.000 user</mat-card-subtitle>
  </mat-card-content>
</mat-card>
