.s-input-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  appearance: none;
  border-radius: 3px;
}

:host >>> .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: linear-gradient(-206deg, #0288D1 5%, #2c467a   100%);
  color: #fff;
}

:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  background: linear-gradient(-206deg, #0288D1 5%, #2c467a   100%);
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
  background: linear-gradient(-206deg, #0288D1 5%, #2c467a   100%);
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: none !important;
  background: linear-gradient(-206deg, #0288D1 5%, #2c467a   100%) !important;
}
:host >>> .p-panelmenu .p-panelmenu-header > a:focus .p-menuitem-text{
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-header > a:focus .p-menuitem-icon{
  color: #fff;
}

/* ============================================= */
:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: none !important;
  background: linear-gradient(-206deg, #0288D1 5%, #2c467a   100%) !important;
}
:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus .p-menuitem-text{
  color: #fff;
}
:host >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus .p-menuitem-icon{
  color: #fff;
}
