<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" style="padding-left: 0px; padding-right: 5px;">
          <div class="card" style="border-radius: 0 !important;">
            <div class="card-header card-header-danger">
              <div class="ui-g-12">
                <img class="ui-g-12" src="{{userInfo.imageUrl}}" alt="user">
              </div>
              <div class="ui-g-12" style="text-align: center;">
                <span>{{userInfo.fullName}}</span>
              </div>
              <div class="ui-g-12">
                <span>Ngày sinh:</span>
              </div>
            </div>
            <div class="card-header card-header-danger">
            </div>
            <div class="card-body">

            </div>
          </div>
        </div>
        <div class="col-md-10" style="padding-left: 5px; padding-right: 0px;">
            <div class="card" style="border-radius: 0 !important;">
                <div class="card-header card-header-danger">
                  <app-tab-menu></app-tab-menu>
                </div>
                <div class="card-body" style="height: 100%;">
                  <!-- <router-outlet></router-outlet> -->
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
